@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-main: "Poppins", sans-serif;
  --text-main: black;
  --text-on-accent: white;
  --bg-body: white;
  --bg-btn: black;
  --bg-overlay: rgba(0, 0, 0, 0.6);
  --shadow-btn: rgba(0, 0, 0, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-body);
  color: var(--text-main);
  font-family: var(--font-main);
  width: 100%;
  min-height: 100vh;
}
button {
  font-family: var(--font-main);
  border: none;
  outline: none;
}
button:focus-visible {
  box-shadow: 0 0 0 4px var(--shadow-btn);
}
.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.no-break {
  display: inline-block;
  word-break: keep-all;
}
.hidden {
  display: none !important;
}

.hero {
  color: var(--text-on-accent);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero__background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -100;
}
.hero__overlay {
  background-color: var(--bg-overlay);
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -10;
}
.hero__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}
.hero__btn {
  background-color: var(--bg-btn);
  color: var(--text-on-accent);
  font-size: 1.6rem;
  display: block;
  padding: 16px 24px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}
.hero__btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}
.hero__btn:active span {
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }

  .hero__title {
    font-size: 2.8rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 860px;
  }

  .hero__title {
    font-size: 3.2rem;
    margin-bottom: 40px;
  }
}
