@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --font-time: monospace;
  --text-main: white;
  --bg-countdown: url(./assets/background.jpg);
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --bg-glassmorphism: rgba(255, 255, 255, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-main);
  font-family: var(--font-main);
  width: 100%;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.glassmorphism {
  background-color: var(--bg-glassmorphism);
  backdrop-filter: blur(10px);
}
.no-break {
  display: inline-block;
  word-break: keep-all;
}
.hidden {
  display: none !important;
}

.countdown {
  background-image: var(--bg-countdown);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.countdown__overlay {
  background-color: var(--bg-overlay);
  position: absolute;
  z-index: 10;
  inset: 0;
}
.countdown__alert,
.countdown__card {
  text-align: center;
  width: 100%;
  padding: inherit;
  border-radius: 10px;
}
.countdown__alert {
  margin-bottom: 20px;
}
.countdown__title {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.countdown__message {
  font-size: 1.2rem;
}
.countdown__year {
  font-family: var(--font-time);
  font-size: 4.2rem;
  text-decoration: underline;
  margin-bottom: 40px;
}
.countdown__timer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
}
.countdown__unit {
  font-size: 1.4rem;
  grid-column: auto;
}
.countdown__unit--time {
  font-family: var(--font-time);
  font-size: 1.8rem;
}

@media (width >= 768px) {
  .container {
    max-width: 640px;
    padding: 30px 20px;
  }

  .countdown__alert,
  .countdown__card {
    border-radius: 20px;
  }
  .countdown__title {
    font-size: 2.8rem;
  }
  .countdown__message {
    font-size: 1.6rem;
  }
  .countdown__year {
    font-size: 8rem;
  }
  .countdown__unit {
    font-size: 1.8rem;
  }
  .countdown__unit--time {
    font-size: 2.4rem;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 860px;
    padding: 40px 20px;
  }

  .countdown__timer {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }
}
